
/* ======== common styes ======== */
body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;

}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }


img {
    display: block;
    max-width: 100%;
}

a {
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* / ======== common styes ======== */

/* ======== header mobile styles ======== */
@media screen and (max-width: 767px) {
    .container {
        max-width: 320px;
    }
    .nav-list-btn {
        display: none;
    }
    .mobile-nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: transparent;
        cursor: pointer;
    }
    .nav-mobile-menu-icon {
        position: relative;
    }
    .nav-mobile-menu-icon,
    .nav-mobile-menu-icon::after,
    .nav-mobile-menu-icon::before {
        width: 22px;
        height: 2px;
        background-color: #7EB101;
        border-radius: 2px;
    }
    .nav-mobile-menu-icon::after,
    .nav-mobile-menu-icon::before {
        content: "";
        position: absolute;
    }
    .nav-mobile-menu-icon::after {
        top: -6px;
    }
    .nav-mobile-menu-icon::before {
        top: 6px;
    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon {
        
        background-color: #FFE550;

    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon::before {
        
        background-color: #FFE550;

    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon::after {
        
        background-color: #FFE550;

    }
    .menu-toggle {
        appearance: none;
    }
    .nav {
        justify-content: space-between;
        align-items: center;
    }
    
    
   
}

.nav {
    display: flex;
}
.nav-list {
    display: flex;
}
.header {
    padding: 10px 0;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}




.mobile-menu {
    position: fixed;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 250ms linear;
    width: 130px;
    height: 255px;
    position: fixed;
    top: 50px;
    right: 0;
    border-radius: 30px 0px 30px 30px;
    background: #FEFEFE;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}
.mobile-menu.is-open {
    transform: translateX(0%);
}


.mobile-nav-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
}

.nav-mobile-menu-close-btn-icon {
    position: relative;

}
.nav-mobile-menu-close-btn-icon,
.nav-mobile-menu-close-btn-icon::before,
.nav-mobile-menu-close-btn-icon:after {
    width: 16px;
    height: 1px;
    background-color: #000;
    border-radius: 2px;

}

.nav-mobile-menu-close-btn-icon::before,
.nav-mobile-menu-close-btn-icon:after {
    content: "";
    position: absolute;
}

.nav-mobile-menu-close-btn-icon::before {
    top: 0;
    transform: rotate(45deg);
}
.nav-mobile-menu-close-btn-icon::after {
    top: 0;
    transform: rotate(-45deg);
}
.nav-mobile-menu-close-btn-icon {
    background-color: transparent;
}
.mobile-menu-list {
    display: block;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}
.mobile-input-1:checked + .mobile-label-1 .mobile-menu-list {
    background-color: #BBF330;
    border-radius: 30px 0px 0px 0px;
}
.mobile-input-2:checked + .mobile-label-2 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-3:checked + .mobile-label-3 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-4:checked + .mobile-label-4 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-5:checked + .mobile-label-5 .mobile-menu-list {
    background-color: #BBF330;
    border-radius: 0px 0px 30px 30px;
}
.mobile-input-1,
.mobile-input-2,
.mobile-input-3,
.mobile-input-4,
.mobile-input-5 {
    appearance: none;
    position: absolute;
    z-index: 99;
}
.mobile-label-1,
.mobile-label-2,
.mobile-label-3,
.mobile-label-4,
.mobile-label-5 {
    display: block;
}
/* / ======== header mobile styles ======== */

/* ======== hero mobile styles ======== */
@media screen and (max-width: 767px) {
    .hero-picture-wrapper {
        display: none;
    }
    
}
.hero-section {
    padding-top: 60px;
    padding-bottom: 16px;
    
}
.hero-title {
    display: block;
    margin-bottom: 28px;
    width: 280px;
    color: #2C2C2C;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}
.hero-text {
    display: block;
    width: 266px;
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

    
.hero-section-btn {
    border-radius: 30px;
    background: #BBF330;
    border: none;
    color: #2C2C2C;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    padding: 6px 18px;
}


/* / ======== hero mobile styles ======== */

/* ======== special offer mobile styles ======== */

.special-offer {
    padding-top: 16px;
    padding-bottom: 72px;
    background-image: url(../img/special-offer/special-offer-background-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 84px;
    background-size: 320px;
    

}
.special-offer-picture-wrapper {
    background-image: url(../img/special-offer/special-offer-apple-background-mobile.png), url(../img/special-offer/special-offer-apple-background-white-cirkle-mobile.png);
    background-position: center 82px, center 70px;
    background-repeat: no-repeat, no-repeat;
    padding-top: 40px;
    padding-bottom: 60px;
    
}
.special-offer-title {
    color: #2C2C2C;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

@media screen and (min-width: 480px) {
    .special-offer {
        background-image: url(../img/special-offer/special-offer-background-mobile-480.png);
        background-size: 480px;
        
    }
    
}
@media screen and (max-width: 767px) {
    .special-offer-picture-tablet-wrapper {
        display: none;
    }
    .special-offer-desktop-mobile-picture {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 767px) and (min-width: 1280px) {
   
    .special-offer-apple-shadow-tablet {
        display: none;
    }
}
.special-offer-picture-apple-wrapper {
    position: relative;
    
}
.special-offer-apple-shadow-mobile-desktop {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.special-offer-desktop-mobile-picture {
    position: relative;
    z-index: 999;
}


/* / ======== special offer mobile styles ======== */


/* ======== header tablet styles ======== */
@media screen and (min-width: 768px) {
    .container {
      max-width: 736px;
    }
    .nav-list-btn {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .nav-list {
        align-items: center;
        gap: 28px;

    }
    .nav {
        justify-content: space-between;
    }
    .nav-link {
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
    }
    .btn-header {
        color:#2C2C2C;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        width: 98px;
        height: 32px;
        padding: 6px 18px;
        border: none;
        border-radius: 30px;
        background-color: #BBF330;
    }
    .nav-list-link:first-child .nav-link {
        color: #BBF330;
    }
    .nav-list-link:first-child .nav-link::after {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #BBF330;
        content: "";
        height: 1px;
    }
    .mobile-menu-btn {
        display: none;
    }
    .menu-toggle {
        display: none;
    }
    .mobile-nav-btn {
        display: none;
    }

  

/* / ======== header tablet styles ======== */

/* ======== hero tablet styles ======== */

    .hero-section {
        padding-bottom: 20px;
    }
    .hero-title {
        color: #2C2C2C;
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
        width: 537px;
        margin-bottom: 44px;
    }
    .hero-text {
    font-size: 16px;
    line-height: 150%;
    width: 336px;
    

    }
    .hero-section-pictures {
        display: flex;
        gap: 20px;
        
    }
    .hero-picture {
        display: block;
        border: solid 14px #FFE550;
        border-radius: 50%;
        object-fit: contain;
        z-index: 99;
    }
    .hero-image {
        border-radius: 50%;
    }
    
    .container {
        position: relative;
    }
    .hero-picture-wrapper {
        position: absolute;
        top: 88px;
        right: 24px;
    }
    .hero-button-icon-1 {
        position: absolute;
        top: 50%;
        left: 97%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        width: 34px;
        height: 28px;
        background-color: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        border: none;
        
        
    }
    .hero-button-icon-2 {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        width: 34px;
        height: 28px;
        background-color: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        border: none;
        
    }
    
   
    .hero-icon-1 {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        
        
    }
    .hero-icon-2 {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        
    }
    .hero-icon-1,
    .hero-icon-1::before,
    .hero-icon-1::after {
        width: 13px;
        height: 2px;
        background-color: #000;
        border-radius: 2px;
    }
    .hero-icon-1,
    .hero-icon-1::before,
    .hero-icon-1::after {
        content: "";
        position: absolute;
    }

    .hero-icon-1::before {
        top: 4px;
        transform: rotate(-40deg);
    }
    .hero-icon-1::after {
        top: -4px;
        transform: rotate(40deg);
    }
    .hero-icon-1 {
        background-color: transparent;
    }
    

    .hero-icon-2,
    .hero-icon-2::before,
    .hero-icon-2::after {
        width: 13px;
        height: 2px;
        background-color: #000;
        border-radius: 2px;
    }
    .hero-icon-2,
    .hero-icon-2::before,
    .hero-icon-2::after {
        content: "";
        position: absolute;
    }

    .hero-icon-2::before {
        top: -4px;
        transform: rotate(-40deg);
    }
    .hero-icon-2::after {
        top: 4px;
        transform: rotate(40deg);
    }
    .hero-icon-2 {
        background-color: transparent;
    }



}

/* / ======== hero tablet styles ======== */

/* ======== special offer tablet styles ======== */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .special-offer-picture-tablet-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: end;
        padding-top: 36px;
    }
    .special-offer {
    background-image: url(../img/special-offer/special-offer-background-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 20px;
    background-size: 768px;
    }
    .special-offer-picture-wrapper {
        background-image: url(../img/special-offer/special-offer-apple-background-tablet.png), url(../img/special-offer/special-offer-apple-background-white-cirkle-tablet.png);
        background-position: 15px 127px, left 112px;
        background-repeat: no-repeat, no-repeat;
        padding-top: 40px;
        padding-bottom: 130px;
        height: 
    }
    .special-offer-picture-1-wrapper {
        margin-right: 76px;
       position: relative;
    }
    .special-offer-picture {
        position: relative;
        z-index: 9999999;

    }
    .special-offer-apple-shadow-tablet {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
   }
   .special-offer-apple-shadow-mobile-desktop {
        display: none;
   }
   .special-offer-picture-2-3-wrapper {
    display: flex;
    align-items: baseline;
    gap: 44px;
   }
   
   
    
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .special-offer-desktop-mobile-picture {
        display: none;

    }
    
}

/* / ======== special offer tablet styles ======== */

/* ======== header desktop styles ======== */
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  

/* / ======== header desktop styles ======== */


/* ======== hero desktop styles ======== */

    .hero-picture {
        border: solid 26px #FFE550;
    }


    .hero-button-icon-1 {
        width: 48px;
        height: 40px;


    }
    .hero-button-icon-2 {
        width: 48px;
        height: 40px;


    }
    .hero-icon-1 {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        
        
    }
    .hero-icon-2 {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        
    }
    .hero-icon-2,
    .hero-icon-2::before,
    .hero-icon-2::after {
        width: 26px;
        height: 3px;
    }
    .hero-icon-1,
    .hero-icon-1::before,
    .hero-icon-1::after {
        width: 26px;
        height: 3px;
    }
    .hero-icon-1::before {
        top: 8px;
        
    }
    .hero-icon-1::after {
        top: -8px;
        
    }
    .hero-icon-2::before {
        top: -8px;
        
    }
    .hero-icon-2::after {
        top: 8px;
        
    }
    .hero-section {
        padding-top: 160px;
    }
    .hero-picture-wrapper {
        position: absolute;
        top: -146px;
    }
    .hero-title {
        margin-bottom: 28px;
        max-width: 460px;
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
    }
    .hero-text {
        width: 510px;
    }


/* / ======== hero desktop styles ======== */

/* ======== special offer desktop styles ======== */

    .special-offer-picture-tablet-wrapper {
        display: none;
    }
    .special-offer {
        background-image: url(../img/special-offer/special-offer-background-desktop.png);
        background-size: 1280px;
    }
}

/* / ======== special offer desktop styles ======== */

