/* common styes */
body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;

}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 360px;
  }


img {
    display: block;
    max-width: 100%;
}

a {
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* ======== header mobile styles ======== */
@media screen and (max-width: 767px) {
    .nav-list-btn {
        display: none;
    }
    .mobile-nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: transparent;
        cursor: pointer;
    }
    .nav-mobile-menu-icon {
        position: relative;
    }
    .nav-mobile-menu-icon,
    .nav-mobile-menu-icon::after,
    .nav-mobile-menu-icon::before {
        width: 22px;
        height: 2px;
        background-color: #7EB101;
        border-radius: 2px;
    }
    .nav-mobile-menu-icon::after,
    .nav-mobile-menu-icon::before {
        content: "";
        position: absolute;
    }
    .nav-mobile-menu-icon::after {
        top: -6px;
    }
    .nav-mobile-menu-icon::before {
        top: 6px;
    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon {
        
        background-color: #FFE550;

    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon::before {
        
        background-color: #FFE550;

    }
    .menu-toggle:checked + .mobile-nav-btn .nav-mobile-menu-icon::after {
        
        background-color: #FFE550;

    }
    .menu-toggle {
        appearance: none;
    }
   
}
.nav {
    display: flex;
}
.nav-list {
    display: flex;
}
.header {
    padding: 10px 0;
    background-color: #FEFEFE;
}




.mobile-menu {
    position: fixed;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 250ms linear;
    width: 130px;
    height: 255px;
    position: fixed;
    top: 50px;
    right: 0;
    border-radius: 30px 0px 30px 30px;
    background: #FEFEFE;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}
.mobile-menu.is-open {
    transform: translateX(0%);
}


.mobile-nav-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
}

.nav-mobile-menu-close-btn-icon {
    position: relative;

}
.nav-mobile-menu-close-btn-icon,
.nav-mobile-menu-close-btn-icon::before,
.nav-mobile-menu-close-btn-icon:after {
    width: 16px;
    height: 1px;
    background-color: #000;
    border-radius: 2px;

}

.nav-mobile-menu-close-btn-icon::before,
.nav-mobile-menu-close-btn-icon:after {
    content: "";
    position: absolute;
}

.nav-mobile-menu-close-btn-icon::before {
    top: 0;
    transform: rotate(45deg);
}
.nav-mobile-menu-close-btn-icon::after {
    top: 0;
    transform: rotate(-45deg);
}
.nav-mobile-menu-close-btn-icon {
    background-color: transparent;
}
.mobile-menu-list {
    display: block;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}
.mobile-input-1:checked + .mobile-label-1 .mobile-menu-list {
    background-color: #BBF330;
    border-radius: 30px 0px 0px 0px;
}
.mobile-input-2:checked + .mobile-label-2 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-3:checked + .mobile-label-3 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-4:checked + .mobile-label-4 .mobile-menu-list {
    background-color: #BBF330;
}
.mobile-input-5:checked + .mobile-label-5 .mobile-menu-list {
    background-color: #BBF330;
    border-radius: 0px 0px 30px 30px;
}
.mobile-input-1,
.mobile-input-2,
.mobile-input-3,
.mobile-input-4,
.mobile-input-5 {
    appearance: none;
    position: absolute;
    z-index: 99;
}
.mobile-label-1,
.mobile-label-2,
.mobile-label-3,
.mobile-label-4,
.mobile-label-5 {
    display: block;
}


@media screen and (max-width: 767px) {
    .nav {
        justify-content: space-between;
        align-items: center;
    }

}

/* / ======== header mobile styles ======== */

/* ======== header tablet styles ======== */
@media screen and (min-width: 768px) {
    .container {
      max-width: 736px;
    }
    .nav-list-btn {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .nav-list {
        align-items: center;
        gap: 28px;

    }
    .nav {
        justify-content: space-between;
    }
    .nav-link {
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
    }
    .btn-header {
        color:#2C2C2C;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        width: 98px;
        height: 32px;
        padding: 6px 18px;
        border: none;
        border-radius: 30px;
        background-color: #BBF330;
    }
    .nav-list-link:first-child .nav-link {
        color: #BBF330;
    }
    .nav-list-link:first-child .nav-link::after {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #BBF330;
        content: "";
        height: 1px;
    }
    .mobile-menu-btn {
        display: none;
    }

  }

/* / ======== header tablet styles ======== */

/* ======== header desktop styles ======== */
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

/* / ======== header desktop styles ======== */